        @charset "UTF-8";
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');

        *{
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        .fones{
            display: flex;
            padding-top: 5px;
            background-image:linear-gradient(to left,rgb(0, 32, 36),rgb(0, 0, 0));
        }
        .fones > p{
            color: rgb(0, 138, 180);
            text-align: left;
            font-family: 'Oswald', sans-serif;
            font-weight: 100;
            margin-left: 30px;
            font-size: 0.9em;
        }
        body{
            background-image: url(fundo.jpg);
            background-position: top center;
            background-repeat: no-repeat;
            background-size: 100%;
            background-attachment: fixed;
            }
        header{
            background-image:linear-gradient(to left,rgb(0, 32, 36),rgb(0, 0, 0));
            height: 70px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content:space-between;
            border-bottom: 2px;
            border-color: #ffc400;
            border-bottom-style: solid;
        }
        .icon{
            padding-left: 30px;
        }
        nav{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
            padding-right: 40px;
        }
        nav > a{
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-weight: bold;
        }
        .login{
            padding: 3px 10px 3px 10px;
            background-color: #ffc400;
            color: #090233;
            border-radius: 15px;
        }
        .login:hover{
            background-color: #ffffff;
            color: #090233;
            transition: 2s;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        nav > a:hover{
            color: #ffc400;
        }
        .landing{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 600px;
            background-image: linear-gradient(to bottom,#ffffff8a,#000042f3);
        }
        .div1{
            color: #ffffff;
            padding-left: 70px;
            font-size: 1.8em;
            
        }
        h1{
            font-weight: 100;
            font-size: 3.5em;
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.781);
        }
        h2{
            font-family: 'Oswald', sans-serif;
            font-weight: 100;
            font-size: 2.4em;
            line-height: 10px;
            color: rgb(255, 217, 0);
            text-shadow: 1px 1px 10px black;
        }
        .pcon{
            text-indent: 20px;
            margin-bottom: 30px;
            font-size: 0.6em;
            text-shadow: 1px 1px 10px black;
        }
        .catalogo{
            padding: 5px 20px 5px 20px;
            background-color: #ffc400;
            font-size: 0.7em;
            font-family: 'Oswald', sans-serif;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.726);
        }
        .catalogo:hover{
            background-color: #ffffff;
            transition: 1s;
            padding: 6px 30px 6px 30px;
        }
        .div1 > a{
            padding: 6px 20px 6px 20px;
            color: #000000;
            text-decoration: none;
            border-radius: 15px;
        }
        .divimg > img{
            padding-right: 20px;
        }

        .landing1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            height: 150px;
            background-image: linear-gradient(to bottom,#000042f3,#090233);
        }
        .divc1,.divc2,.divc3,.divc4{
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #09005a6c;
            height: 100px;
            width: 315px;
            padding: 10px;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.096);
        }
        .h1c{
            font-size:  2em;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        .pcaix{
            color: #ffc400;
            font-weight: 100;
            font-family: 'Oswald', sans-serif;
        }
        .imgc{
            margin-left: 10px;
            margin-right: 15px;
        }
        footer{
            background-color: #000000;
        }
        footer > p{
            color: #ffc400;
            text-align: center;
            font-family: 'Oswald', sans-serif;
            font-weight: 100;
        }